<div class="row" style="margin-bottom: 10px;">
    <form class="form-horizontal">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
                <label for="projectCode" class="col-sm-3 control-label">项目编号</label>
                <div class="col-sm-9">
                    <ui-select multiple ng-model="condition.projectCode" theme="bootstrap" close-on-select="false">
                        <ui-select-match placeholder="请选择项目编号">{{$item.projectCode}}</ui-select-match>
                        <ui-select-choices repeat="project.projectCode as project in projects | propsFilter: {projectCode: $select.search, projectName: $select.search}">
                            <div ng-bind-html="project.projectCode + ' ' + project.projectName | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
                <label for="logType" class="col-sm-3 control-label">日志类型</label>
                <div class="col-sm-9">
                    <ui-select multiple id="logType" ng-model="condition.logType" theme="bootstrap" close-on-select="false">
                        <ui-select-match placeholder="请选择项目类型">{{$item.name}}</ui-select-match>
                        <ui-select-choices repeat="type.id as type in logTypes | propsFilter: {id: $select.search, name: $select.search, code: $select.search}">
                            <div ng-bind-html="type.code + '-' + type.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
                <label for="logStartTime" class="col-sm-3 control-label">日志时间</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input type="text" class="form-control" id="logStartTime" datetimepicker format="YYYY-MM-DD" ng-model="condition.logStartTime">
                        <span class="input-group-addon">-</span>
                        <input type="text" class="form-control" id="logEndTime" datetimepicker format="YYYY-MM-DD" ng-model="condition.logEndTime">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
                <label for="recordStartTime" class="col-sm-3 control-label">填写时间</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input type="text" class="form-control" id="recordStartTime" datetimepicker format="YYYY-MM-DD" show-clear=true ng-model="condition.recordStartTime">
                        <span class="input-group-addon">-</span>
                        <input type="text" class="form-control" id="recordEndTime" datetimepicker format="YYYY-MM-DD" show-clear=true ng-model="condition.recordEndTime">
                        <span class="input-group-addon" ng-click="clearRecordTime()">
                            <span class="glyphicon glyphicon-trash"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6" ng-if="mode=='advance' && authorize(['root', 'director', 'admin'])">
            <div class="form-group">
                <label for="recordUser" class="col-sm-3 control-label">登记人员</label>
                <div class="col-sm-9">
                    <ui-select multiple id="recordUser" ng-model="condition.users" theme="bootstrap" close-on-select="false">
                        <ui-select-match placeholder="请选择登记人员">{{$item.name}}</ui-select-match>
                        <ui-select-choices repeat="user.account as user in users | propsFilter: {name: $select.search, account: $select.search}">
                            <div ng-bind-html="user.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6" ng-if="mode=='advance' && authorize(['root', 'director', 'admin'])">
            <div class="form-group">
                <label for="departments" class="col-sm-3 control-label">所属部门</label>
                <div class="col-sm-9">                    
                    <ui-select multiple id="departments" ng-model="condition.departments" theme="bootstrap" close-on-select="false">
                        <ui-select-match placeholder="请选择所属部门">{{$item.name}}</ui-select-match>
                        <ui-select-choices repeat="dept.id as dept in departments | propsFilter: {name: $select.search, code: $select.search}">
                            <div ng-bind-html="dept.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="button" class="btn btn-primary" ng-click="quickSearch('Today')">今天</button>
                    <button type="button" class="btn btn-primary" ng-click="quickSearch('Yesterday')">昨天</button>
                    <button type="button" class="btn btn-primary" ng-click="quickSearch('CurWeek')">本周</button>
                    <button type="button" class="btn btn-primary" ng-click="quickSearch('PreWeek')">上周</button>
                    <button type="button" class="btn btn-primary" ng-click="quickSearch('CurMonth')">本月</button>
                    <button type="button" class="btn btn-primary" ng-click="quickSearch('PreMonth')">上月</button>
                    <button type="button" class="btn btn-primary" ng-click="quickSearch('CurYear')">今年</button>
                    <button type="button" class="btn btn-primary" ng-click="quickSearch('PreYear')">去年</button>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <button type="button" class="btn btn-primary" style="float: right" ng-click="search()">查询</button>
                <button type="button" class="btn btn-primary" style="float: right; margin-right: 5px;" ng-click="clear()">清除</button>
            </div>
        </div>
    </form>
</div>
