<md-dialog aria-label="新建日志" flex="60">
    <form name="logForm" role="form" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>新建日志</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()" aria-label="Close">
                    <md-icon class="glyphicon glyphicon-remove" aria-hidden="true"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group" ng-class="{'has-error': logForm.$dirty && logForm.projectCode.$invalid}">
                            <label class="control-label" for="projectCode">项目编号</label>
                            <ui-select ng-model="log.projectCode" theme="bootstrap" close-on-select="true">
                                <ui-select-match placeholder="请选择项目编号">{{$select.selected.projectCode}}</ui-select-match>
                                <ui-select-choices repeat="project.projectCode as project in searchProjects | propsFilter: {projectCode: $select.search, projectName: $select.search}" refresh="refreshProjects($select.search)" refresh-delay="100">
                                    <div ng-bind-html="project.projectCode + ' ' + project.projectName | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <input type="hidden" ng-show="false" name="projectCode" ng-model="log.projectCode" required>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group" ng-class="{'has-error': logForm.$dirty && logForm.taskTime.$invalid}">
                            <label class="control-label" for="taskTime">工时（分钟）</label>
                            <input type="number" class="form-control" id="taskTime" name="taskTime" ng-model="log.taskTime" required min=-1440 max=1440>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <label>日志类型</label>
                            <select ng-options="type.id as type.name for type in logTypes" ng-model="log.logType" class="form-control"></select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group" ng-class="{'has-error': logForm.$dirty && logForm.logTime.$invalid}">
                            <label class="control-label" for="logTime">日志时间</label>
                            <input type="text" class="form-control" name="logTime" datetimepicker ng-model="log.logTime" required>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group" ng-class="{'has-error': logForm.$dirty && logForm.content.$invalid}">
                            <label class="control-label" for="content">日志内容</label>
                            <textarea class="form-control" rows="12" name="content" ng-model="log.content" required maxlength=1000></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <div ng-if="logForm.$valid">
                <md-button class="md-raised md-primary" ng-click="save()">
                    提交并新建
                </md-button>
                <md-button class="md-raised md-primary" ng-click="save(true)">
                    提交日志
                </md-button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>
