<md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="user">
        <md-tab-label>
            <md-tooltip md-delay="500">用户设置</md-tooltip>
            <md-icon class="glyphicon glyphicon-user"></md-icon>
        </md-tab-label>
        <md-tab-body>
            <md-content class="md-padding">
                <div ui-view="user-view"></div>
            </md-content>
        </md-tab-body>
    </md-tab>
    <md-tab label="department">
        <md-tab-label>
            <md-tooltip md-delay="500">部门设置</md-tooltip>
            <md-icon class="glyphicon glyphicon-home"></md-icon>
        </md-tab-label>
        <md-tab-body>
            <md-content class="md-padding">
                <div ui-view="dept-view"></div>
            </md-content>
        </md-tab-body>
    </md-tab>
</md-tabs>