<md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="user">
        <md-tab-label>
            <md-tooltip md-delay="500">用户设置</md-tooltip>
            <md-icon class="glyphicon glyphicon-user"></md-icon>
        </md-tab-label>
        <md-tab-body>
            <md-content class="md-padding">
                <div ui-view="user-view"></div>
            </md-content>
            <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="user_prop">
                <md-toolbar class="md-theme-light">
                    <h1 class="md-toolbar-tools">用户属性</h1>
                </md-toolbar>
                <md-content layout-padding>
                    <div ui-view="user-prop-view"></div>
                </md-content>
            </md-sidenav>
        </md-tab-body>
    </md-tab>
    <md-tab label="department">
        <md-tab-label>
            <md-tooltip md-delay="500">部门设置</md-tooltip>
            <md-icon class="glyphicon glyphicon-home"></md-icon>
        </md-tab-label>
        <md-tab-body>
            <md-content class="md-padding">
                <div ui-view="dept-view"></div>
            </md-content>
        </md-tab-body>
    </md-tab>
</md-tabs>