<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="BOSS">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BOSS</title>
    <link rel="shortcut icon" href="favicon.ico" />
    <base href="/">
</head>

<body ng-cloak ng-controller="IndexCtrl">
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <h2>
                <span>BOSS</span>
            </h2>
            <md-button aria-label="new_log" class="md-icon-button" ng-click="toolbarClick('BOSS_NEW_LOG')">
                <md-tooltip md-delay="500">新建日志</md-tooltip>
                <md-icon class="glyphicon glyphicon-file"></md-icon>
            </md-button>
            <md-button aria-label="log_search" class="md-icon-button" ng-click="goto('log.search')">
                <md-tooltip md-delay="500">日志查询</md-tooltip>
                <md-icon class="glyphicon glyphicon-search"></md-icon>
            </md-button>
            <md-button aria-label="new_analyze" class="md-icon-button" ng-click="goto('log.analyze')">
                <md-tooltip md-delay="500">日志分析</md-tooltip>
                <md-icon class="glyphicon glyphicon-stats"></md-icon>
            </md-button>
            <md-button aria-label="kpi" class="md-icon-button" ng-click="goto('kpi')">
                <md-tooltip md-delay="500">部门分析</md-tooltip>
                <md-icon class="glyphicon glyphicon-dashboard"></md-icon>
            </md-button>                     
            <span flex></span>
            <h5>                                
                <span>{{credential.user.name}}</span>
            </h5>
            <md-button aria-label="logout" class="md-icon-button" ng-click="logout()">
                <md-icon class="glyphicon glyphicon-off"></md-icon>
            </md-button>            
        </div>
    </md-toolbar>
    <div class="page-content">
        <div class="page-view" ui-view></div>
    </div>
    <script src="assets/vendor/requirejs/require.js" data-main="main.js"></script>
</body>

</html>
